p{
	color: white;
	font-size: 20pt;
	font-weight: bold;
}
dt{
	color: white;
	font-size: 20pt;
	font-weight: bold;
}
dd{ 
	color: white;
  	font-size: 18pt;
  }
a{
	color: lightgray;
	font-size: 20pt;
}
a:hover{
	color:white;
	font-size: 24pt;
}
h3{
	color: white;
	font-size: 20pt;
	font-weight: bold;
}
table{
	border: 1pt;
	font-size: 20pt;
}
body{ background: url("https://i.pinimg.com/564x/cc/48/d5/cc48d5e56c5b8a6724e7fc414796e093.jpg");}
h4{ 
	text-align: right;
	color: white;
	}	
h3, h2{ 
	text-align: center;
	color: white;
	}
