<!DOCTYPE html>
<html lang="ukr">
<head>
	<meta charset="UTF-8">
	<title>css</title>
	<style >
		p{
			color: darkblue;
			font-size: 24pt;
			font-weight: bold;
		}
	</style>
</head>
<body>
	
</body>
</html>